<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cipher Tools</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>

<body>
    <div class="container">
        <h1 class="text-center my-4">Cipher Tools</h1>
        <div class="list-group">
            <a href="/ex01/Templates/caesar.html" class="list-group-item list-group-item-action">Caesar Cipher</a>
            <a href="/ex01/Templates/vigenere.html" class="list-group-item list-group-item-action">Vigenere Cipher</a>
            <a href="/ex01/Templates/playfair.html" class="list-group-item list-group-item-action">Playfair Cipher</a>
            <a href="/ex01/Templates/railfence.html" class="list-group-item list-group-item-action">Rail Fence Cipher</a>
            <a href="/ex01/Templates/transposition.html" class="list-group-item list-group-item-action">Transposition Cipher</a>
        </div>
    </div>
</body>
</html>